<!DOCTYPE html>
<head style="width: 100vw;">
    <title>Google Search</title>
	<link rel="stylesheet" type= "text/css" href="/static/styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #faf4de;">
	{% include 'searchBar.html' %}
    <div id="main_body">
        <div id="video_result">
            <div class="title-video" style="display: block;">
                {{data.filename.replace("_"," ")}}
            </div>
            <div id="video_div">
                <div id="video">
                    <video width="700" height="400" autoplay controls muted>
                        <source src="static/Data/videos/{{data.filename}}.mp4#t={{data.second}}" type="video/mp4">
                    </video>
                </div>
                <div id="vid_sum">
                    <table id="vid_sum_table">
                        <tr>
                            <th>Snippet</th>
                            <th>Content</th>
                        </tr>
                        {% for min, content in data.vid_sum.items() %}
                            <tr>
                                <td id = "thumbnail_cell">
                                    {% set second = min*60 %}
                                    <a href="http://127.0.0.1:5000/video?file={{data.filename}}&min={{min}}"><video src=static/Data/videos/{{data.filename}}.mp4#t={{second}}  type="video/mp4" muted class="vid{{min}} logo-img" ALIGN=CENTER loop >
                                    </video></a>

                                                            <script>
                                                                    let clip{{min}} = document.querySelector(".vid{{min}}")
                                                                    clip{{min}}.addEventListener("mouseover", function (e) {
                                                                            clip{{min}}.play();
                                                                    })

                                                                    clip{{min}}.addEventListener("mouseout", function (e) {
                                                                    clip{{min}}.pause();
                                                                    })
                                                                </script>
                                </td>
                                <td><a href="http://127.0.0.1:5000/video?file={{data.filename}}&min={{min}}">{{content}}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript">
	document.getElementById("search-button").onclick = function () {
		console.log($("#formoid").select2('data')[0].text);
		location.href = "http://127.0.0.1:5000/search?q="+$("#formoid").select2('data')[0].text;
	};
</script>
<script>
	$(document).ready(function() {
		$('.js-data-example-ajax').select2({
			ajax: {
				url: 'http://127.0.0.1:5000/process_search',
				dataType: 'json',
				processResults: function (data) {
					return data;
				}
			},
			templateResult: function(e) { return e.text; },
      		//selectOnClose: true,
      		templateSelection: function(e) { return e.text; },
      		//minimumInputLength:2
  		});
	});
</script>