<!DOCTYPE html>
<html>
<head style="width: 100vw;">
	<title>Google Search</title>
	<!-- <link rel= "stylesheet" type= "text/css" src= "{{ url_for('static',filename='styles.css') }}"> -->
	<link rel="stylesheet" type= "text/css" href="/static/styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background-color: #faf4de;">
	<div id="header">
		<div id="logo-div"> 
			<a href = http://127.0.0.1:5000/home><img class="logo-img" src="static/inhouse_large.png"ALIGN=CENTER></a>
		</div>

		<div id="search-bar" style="display:inline-block">
			<select id="formoid" type="text" name="search" class="js-data-example-ajax"></select>
		</div>
		<div id="search-button">
			<button class="submit-button" type="submit"><i class="fa fa-search"></i></button>
		</div>
		
	</div>
	<div id="main_body">
		<div id ="search-options">
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>All</p></a></div>
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>Images</p></a></div>
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>Shopping</p></a></div>
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>News</p></a></div>
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>Videos</p></a></div>
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>More</p></a></div>
			<div class="option"><a href="http://127.0.0.1:5000/home"><p>Search tools</p></a></div>
		</div>
		<div id="result">About {{count}} results (0.80 seconds) 
		{% block autocorrect %}
	        {% if autocorrect.ac%}	
			<div class="content">
				Search instead for? : 
				{% for word in autocorrect.ac%}
				<a href="http://127.0.0.1:5000/search?q={{word}}"> {{word}}</a>
				{% endfor %}
			</div>
		{% endif %}
		{% endblock %}
		</div>
		<div id="content">
			<div>
				{% block content %}
				{% for res, parent_item in search_results.items() %}

				<div class = "search-results">
					<div class = "title" style=" display:block">
						<a href="http://127.0.0.1:5000/video?file={{parent_item.File}}&min={{parent_item.Minute}}">{{ parent_item.Title }} </a>

					</div>
					<div class = "content">
						<div class="thumbnail">
							<video src=static/Data/videos/{{parent_item.File}}.mp4#t=10  type="video/mp4" muted class="vid{{res}} logo-img" ALIGN=CENTER loop >
                                                                </video>

                                                                                        <script>
                                                                                                let clip{{res}} = document.querySelector(".vid{{res}}")
                                                                                                clip{{res}}.addEventListener("mouseover", function (e) {
                                                                                                        clip{{res}}.play();
                                                                                                })

                                                                                                clip{{res}}.addEventListener("mouseout", function (e) {
                                                                                                clip{{res}}.pause();
                                                                                                })
                                                                                            </script>

						</div>
						<div class="video-transcribed">
							<p>{{ parent_item.Content }}</p>
						</div>
					</div>
					
				</div>
				{% endfor %}
				{% endblock %}
			</div>
			
		</div>
	</div>
	
	<!-- <div id="page-selector">
		<p><img src="google-page-selector.png" alt="page selector"></p>
	</div> -->


	<div id="footer">
		<p id="location">
			Location - Use precise location - Learn more
		</p>
		<p class="footer-options">Help</p>
		<p class="footer-options">Send feedback</p>
		<p class="footer-options">Privacy</p>
		<p class="footer-options">Terms</p>
	</div>

</body>

<script type="text/javascript">
	document.getElementById("search-button").onclick = function () {
		console.log($("#formoid").select2('data')[0].text);
		location.href = "http://127.0.0.1:5000/search?q="+$("#formoid").select2('data')[0].text;
	};
</script>
<script>
	$(document).ready(function() {
		$('.js-data-example-ajax').select2({
			ajax: {
				url: 'http://127.0.0.1:5000/process_search',
				dataType: 'json',
				processResults: function (data) {
					return data;
				}
			},
			templateResult: function(e) { return e.text; },
      		//selectOnClose: true,
      		templateSelection: function(e) { return e.text; },
      		//minimumInputLength:2
  		});
	});
</script>

</html>
